/* PALETTE DE COULEURS */

$dark-blue: #1C145A;
$light-blue: #B3CFF9;
$light-orange: #ED975D;
$dark-orange: #D65D56;
$white: #ffffff;

$background-color: red;

//Typo
$titre: 54px;
$sous-titre: 20px;
$contents: 16px;

//Taille
$bodyHeight: 100vh;
$auto: auto;
$logoWidth: 200px;
$bannerWidth: 30vw;