// Variables
@import "../helpers/variables.scss";


body {
  background-color: $dark-blue;

  font-family: degular,sans-serif;
  font-weight: 500;
  font-style: normal;
  position: relative;
  height: $bodyHeight;
  overflow: hidden;
}


h1 {
  font-family: degular-display,sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: $titre;
  color: $light-blue;
}

.centered-elements{
  margin: $auto 25vw;
  text-align: center;
}